@{
    ViewData["Title"] = "Home";
}


<div class="row">
    <div class="col-md-6">
        <h2>Fiber Map Web Version</h2>
        <ul>
            <li><a asp-action="viewmap" asp-controller="home">View Map</a></li>
        </ul>
    </div>
</div>
